/SVISS_ZES/nbproject/private/
/SVISS_ZES/build/
/SVISS_ZES/dist/
SVISS_ZES/nbproject/build-impl.xml~
SVISS_ZES/nbproject/build-impl.xml
SVISS_ZES/src/java/at/htlpinkafeld/dao/factory/DAOFactory.java
SVISS_ZES/nbproject/project.properties